name: Auto-add to Project

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  add-to-project:
    name: Add to Oxy Platform board
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/OxyHQ/projects/14
          github-token: ${{ secrets.GITHUB_TOKEN }}
